<div class="flex flex-col w-full">

    <ng-container>

        <!-- Header -->
        <div class="relative w-full h-40 sm:h-48 px-8 sm:px-12 gradient-background dark:bg-accent-700">

            <div class="flex items-center justify-end w-full max-w-3xl mx-auto pt-6">
                <a mat-icon-button [matTooltip]="'Close'" (click)="closeDrawer()">
                    <mat-icon class="text-white" [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
                </a>
            </div>
        </div>

        <!-- Contact form -->
        <div class="relative flex flex-col flex-auto items-center px-6 sm:px-12">
            <div class="w-full max-w-3xl">
                <form [formGroup]="productForm" #signInNgForm="ngForm">

                    <!-- Avatar -->
                    <div class="mt-3 text-5xl font-bold truncate">Product</div>

                    <!-- Brand -->
                    <div class="mt-8">
                        <mat-form-field class="fuse-mat-no-subscript w-full">
                            <mat-label>Brand</mat-label>
                            <mat-icon matPrefix class="hidden sm:flex icon-size-5"
                                [svgIcon]="'heroicons_solid:banknotes'"></mat-icon>
                            <mat-select [formControlName]="'brand'">
                                @for (item of brands(); track $index) {
                                <mat-option [value]="item.id">
                                    {{item.name}}
                                </mat-option>
                                }
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <!-- Name -->
                    <div class="mt-4">
                        <mat-form-field class="fuse-mat-no-subscript w-full">
                            <mat-label>Product Name</mat-label>

                            <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:building-office'"
                                matPrefix></mat-icon>
                            <input matInput [formControlName]="'name'" [placeholder]="'Product Name'"
                                [spellcheck]="false">
                            @if (productForm.get('name').hasError('required')) {
                            <mat-error>
                                Product Name is required
                            </mat-error>
                            }
                        </mat-form-field>
                    </div>
                    <div class="mt-8">
                        <mat-form-field class="fuse-mat-no-subscript w-full">
                            <mat-label>Status</mat-label>
                            <mat-icon matPrefix class="hidden sm:flex icon-size-5"
                                [svgIcon]="'heroicons_solid:calendar'"></mat-icon>
                            <mat-select [formControlName]="'status'">
                                <mat-option [value]="'0'"> Active</mat-option>
                                <mat-option [value]="'1'"> Disable</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div
                        class="flex items-center mt-10 justify-end -mx-6 sm:-mx-12 py-4 pr-4 pl-1 sm:pr-12 sm:pl-7 border-t bg-gray-50 dark:bg-transparent">
                        <!-- Delete -->

                        <button mat-button [matTooltip]="'Cancel'" [routerLink]="['../']">
                            Cancel
                        </button>

                        <!-- Save -->
                        <button class="ml-2" mat-flat-button [color]="'primary'"
                            [disabled]="productForm.invalid || isSaving()" [matTooltip]="'Save'" (click)="save()">
                            Save
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </ng-container>
</div>