<div class="flex flex-col w-full">

    <!-- Header -->
    <div class="flex items-center w-full h-20 sm:h-30 px-8 sm:px-12 gradient-background dark:bg-accent-700">
        <div class="mb-3 text-5xl font-bold text-white truncate">Load Details</div>
    </div>

    <!-- Contact form -->
     <div class="bg-card rounded-3xl m-10">
         <form [formGroup]="brandForm">
             <div class="grid sm:grid-cols-6 gap-6 w-full mb-10 p-10">
                 <!-- Title -->
                 <div class="sm:col-span-3">
                     <mat-form-field class="fuse-mat-no-subscript w-full">
                         <mat-label>Origin</mat-label>
                         <mat-icon matPrefix class="hidden sm:flex icon-size-5"
                             [svgIcon]="'heroicons_solid:map-pin'"></mat-icon>
                         <mat-select [formControlName]="'origin'">
                             @for (item of originLocations(); track $index) {
                             <mat-option [value]="item.id"> {{item.name}}{{' , '}} {{item.country}}</mat-option>
                             }
                         </mat-select>
                     </mat-form-field>
                 </div>
                 <div class="sm:col-span-3">
                     <mat-form-field class="fuse-mat-no-subscript w-full">
                         <mat-label>Destination</mat-label>
                         <mat-icon matPrefix class="hidden sm:flex icon-size-5"
                             [svgIcon]="'heroicons_solid:map-pin'"></mat-icon>
                         <mat-select [formControlName]="'destination'">
                             @for (item of destinationLocations(); track $index) {
                             <mat-option [value]="item.id"> {{item.name}}{{' , '}} {{item.country}}</mat-option>
                             }
                         </mat-select>
                     </mat-form-field>
                 </div>
                 <div class="sm:col-span-2">
                     <mat-form-field class="fuse-mat-no-subscript w-full">
                         <mat-label>Pickup Earliest</mat-label>
                         <mat-icon matPrefix class="hidden sm:flex icon-size-5"
                             [svgIcon]="'heroicons_solid:calendar'"></mat-icon>
                         <input matInput placeholder="Pickup Earliest" [matDatepicker]="pickupEarliest"
                             [formControlName]="'pickupEarliest'">
                         <mat-datepicker-toggle matSuffix [for]="pickupEarliest"></mat-datepicker-toggle>
                         <mat-datepicker #pickupEarliest></mat-datepicker>
                     </mat-form-field>
                 </div>
                 <div class="sm:col-span-2">
                     <mat-form-field class="fuse-mat-no-subscript w-full">
                         <mat-label>Pickup Latest</mat-label>
                         <mat-icon matPrefix class="hidden sm:flex icon-size-5"
                             [svgIcon]="'heroicons_solid:calendar'"></mat-icon>
                         <input matInput [matDatepicker]="pickupLatest" placeholder="Pickup Latest"
                             [formControlName]="'pickupLatest'">
                         <mat-datepicker-toggle matSuffix [for]="pickupLatest"></mat-datepicker-toggle>
                         <mat-datepicker #pickupLatest></mat-datepicker>
                     </mat-form-field>
                 </div>
                 <div class="sm:col-span-1">
                    <mat-form-field class="fuse-mat-no-subscript w-full">
                        <mat-label>Pick Up Hours</mat-label>
                        <input matInput placeholder="Pickup Hours"
                            formControlName="pickupHours" type="number">
                    </mat-form-field>
                 </div>
                 <div class="sm:col-span-1">
                    <mat-form-field class="fuse-mat-no-subscript w-full">
                        <mat-label>Drop Off Hours</mat-label>
                        <input matInput placeholder="Dropoff Hours"
                            formControlName="dropoffHours" type="number">
                    </mat-form-field>
                 </div>
             </div>
     
             <!-- <div class="py-10 flex items-center justify-between"> -->
     
             <!-- Add data entry locally -->
             <div class="flex flex-grow justify-center">
     
                 <button mat-button [matTooltip]="'Cancel'" [routerLink]="['../']">
                     Cancel
                 </button>
     
                 <!-- Save -->
                 <button class="ml-2" mat-flat-button [color]="'primary'" [disabled]="brandForm.invalid || isSaving()"
                     [matTooltip]="'Save'" (click)="save()">
                     Save
                 </button>
             </div>
             <!-- upload to database -->
             <!-- <div>
                     <button [disabled]="!this.selectedTeamMembers().length && !teams().length" mat-raised-button
                         color="primary" (click)="uploadTeams()">
                         Save
                         <mat-icon class="icon-size-4" svgIcon="heroicons_outline:chevron-double-right"></mat-icon>
                     </button>
                 </div> -->
     
             <!-- </div> -->
         </form>
     </div>
</div>