<div class="flex flex-col w-full">

    <div class="flex justify-center">
        <div class="bg-card rounded-3xl w-full m-4 sm:w-4/5">
            <div
                class="flex items-center w-full h-15 sm:h-20 px-8 sm:px-12 gradient-background dark:bg-accent-700 rounded-t-xl">
                <div class="text-3xl font-bold text-white truncate">
                    {{userApprovalRequest() && userApprovalRequest().length ?
                    'Wait for your request to be approved by admin!' : 'Request Verification'}}
                </div>
            </div>
            <form [formGroup]="form">
                <!-- grid sm:grid-cols-6 gap-6  -->
                <div class="grid grid-cols-2 gap-3 w-full mb-5 p-10">
                    <mat-form-field class="fuse-mat-no-subscript w-full">
                        <mat-label>Organization Name</mat-label>
                        <mat-icon matPrefix class="hidden sm:flex icon-size-5"
                            [svgIcon]="'heroicons_solid:building-office'"></mat-icon>
                        <input type="text" placeholder="Organization" matInput formControlName="orgName">
                    </mat-form-field>
                    <mat-form-field class="fuse-mat-no-subscript w-full">
                        <mat-label>Required Plan</mat-label>
                        <mat-icon matPrefix class="hidden sm:flex icon-size-5"
                            [svgIcon]="'heroicons_solid:banknotes'"></mat-icon>
                        <mat-select [formControlName]="'roleId'" (selectionChange)="roleChange($event.value)">
                            @for (item of roles(); track $index) {
                            <mat-option [value]="item.id">
                                {{item.title}}
                            </mat-option>
                            }
                        </mat-select>
                    </mat-form-field>
                    @if(showMcNoField()){
                    <mat-form-field class="fuse-mat-no-subscript w-full">
                        <mat-label>Motor Carrier No</mat-label>
                        <mat-icon matPrefix class="hidden sm:flex icon-size-5"
                            [svgIcon]="'heroicons_solid:building-office'"></mat-icon>
                        <input type="text" placeholder="mcNo" matInput formControlName="mcNo">
                    </mat-form-field>
                    }
                </div>

                <!-- Add file pickers -->
                <div class="grid grid-cols-2 gap-3 w-full mb-5 p-10">
                    <div class="flex flex-col fuse-mat-no-subscript w-full">
                        <mat-label>Upload W9 form</mat-label>
                        <input class="mt-4" type="file" [multiple]="false" [accept]="
                                                'image/jpeg, image/png, image/jpg'" formControlName="file1" (change)="onFileSelected($event, 'file1')">
                    </div>
                    <div class="flex flex-col fuse-mat-no-subscript w-full">
                        <mat-label>Certificate of Insurance</mat-label>
                        <input class="mt-4" type="file" [multiple]="false" [accept]="
                                                'image/jpeg, image/png, image/jpg'" formControlName="file2" (change)="onFileSelected($event, 'file2')">
                    </div>
                </div>

                <div class="flex flex-grow justify-center mb-5">
                    <!-- Save -->
                    <button class="ml-2" mat-flat-button [color]="'primary'" [disabled]="form.invalid || isSaving()"
                        [matTooltip]="'Save'" (click)="save()">
                        <p class="px-10">Apply</p>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>