<div class="absolute inset-0 flex min-w-0 flex-col overflow-hidden">
    <mat-drawer-container class="mat-drawer-container flex-auto h-full dark:bg-transparent"
        (backdropClick)="onBackdropClicked()">
        <!-- Drawer -->
        <mat-drawer class="w-full dark:bg-gray-900 md:w-160" [mode]="drawerMode" [opened]="false" [position]="'end'"
            [disableClose]="true" #matDrawer>
            <router-outlet></router-outlet>
        </mat-drawer>

        <mat-drawer-content class="flex flex-col">
            <!-- Main -->
            <!-- Header -->
            <div class="bg-card">
                <div class="flex flex-col w-full max-w-screen-xl mx-auto px-6 sm:px-0">
                    <div
                        class="flex flex-col sm:flex-row flex-auto sm:items-center min-w-0 my-6 mx-2 sm:my-12 md:my-12">
                        <!-- Title -->
                        <div class="flex flex-auto items-center min-w-0">
                            <div class="flex flex-col min-w-0 ">
                                <ng-container *transloco="let t">
                                    <div class="text-4xl font-extrabold tracking-tight">Products</div>
                                </ng-container>
                            </div>
                        </div>
                        <div class="flex items-center mt-6 sm:mt-0 sm:ml-2 space-x-3">
                            <button class="bg-accent" mat-flat-button [routerLink]="['/products/add']"
                                [color]="'accent'">
                                <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:plus-circle'"></mat-icon>
                                <span class="ml-2">Add new</span>
                            </button>
                        </div>

                    </div>

                </div>
            </div>
            <!-- Table -->
            <!-- @if (brands().length) { -->
            <div class="flex-auto -mt-px">
                <div class="w-full max-w-screen-xl mx-auto">
                    <div class="grid grid-cols-1 xl:grid-cols-2 gap-8 w-full mt-8">
                        <div class="xl:col-span-2 flex flex-col flex-auto bg-card shadow rounded-2xl overflow-hidden">
                            <!-- header row -->
                            <div class="p-6 flex flex-col sm:flex-row items-center justify-between">
                                <div>
                                    <div class="mr-4 text-lg font-medium tracking-tight leading-6 truncate">
                                        Products
                                    </div>
                                    <div class="text-secondary font-medium">Total {{this.products().length}}
                                    </div>
                                </div>
                                <div class="flex flex-row flex-wrap items-center">
                                    <div class="flex flex-col sm:flex-row items-center">
                                        <div class="flex flex-col items-start">
                                            <mat-form-field
                                                class="fuse-mat-dense fuse-mat-no-subscript fuse-mat-rounded min-w-52">
                                                <mat-icon class="icon-size-5" matPrefix
                                                    svgIcon="heroicons_solid:magnifying-glass"></mat-icon>
                                                <input matInput (input)="filterBySearch($event.target.value)"
                                                    placeholder="Search" />
                                            </mat-form-field>

                                        </div>
                                    </div>
                                    <div class="flex-auto  ml-1">
                                        <mat-form-field
                                            class="fuse-mat-dense fuse-mat-no-subscript fuse-mat-rounded min-w-52">

                                            <mat-select (selectionChange)="filterByBrand($event)"
                                                placeholder="Filter by Brand" [value]="brandId()">
                                                <ng-container>
                                                    @for(opt of brands();track opt){
                                                    <mat-option [value]="opt.id">{{
                                                        opt.name
                                                        }}</mat-option>
                                                    }
                                                </ng-container>
                                            </mat-select>
                                            @if(brandId()!=""){
                                            <button mat-icon-button matSuffix (click)="filterByBrand({value:''})">
                                                <mat-icon svgIcon="heroicons_outline:x-circle"></mat-icon>
                                            </button>
                                            }
                                        </mat-form-field>
                                    </div>
                                    @if(this.selection.selected.length> 0){
                                    <div class="max-w-32 pb-4">
                                        <span>
                                            <span
                                                class="ml-2 px-4 py-2 font-semibold rounded-full flex bg-slate-300 text-sky-800">{{this.selection.selected.length}}
                                                Selected</span>
                                        </span>
                                    </div>
                                    }
                                </div>
                                <div class="flex items-center mt-6 sm:mt-0 sm:ml-2 space-x-3 max-w-60">
                                    <button [disabled]="!enableActions()" class="hidden sm:inline-flex ml-3"
                                        mat-flat-button [color]="'primary'" [matMenuTriggerFor]="impressionsMenu">
                                        <span>Actions</span>
                                        <mat-icon class="icon-size-5"
                                            [svgIcon]="'heroicons_outline:ellipsis-vertical'"></mat-icon>
                                    </button>
                                    <mat-menu class="overflow-hidden max-w-64" #impressionsMenu="matMenu">
                                        <button (click)="remove()" class="hidden sm:inline-flex " mat-flat-button>
                                            <mat-icon class="icon-size-5"
                                                [svgIcon]="'heroicons_solid:trash'"></mat-icon>
                                            <span class="ml-2">Delete Selected</span>
                                        </button>
                                    </mat-menu>

                                    <div class="sm:hidden">
                                        <button [matMenuTriggerFor]="actionsMenu" mat-icon-button>
                                            <mat-icon [svgIcon]="'heroicons_outline:ellipsis-vertical'"></mat-icon>
                                        </button>
                                        <mat-menu #actionsMenu="matMenu">

                                            <!-- <button (click)="exportToExcel()" mat-menu-item>
                                                Export Selected
                                            </button> -->
                                            <button (click)="remove()" mat-menu-item>
                                                Delete Selected
                                            </button>

                                        </mat-menu>
                                    </div>

                                </div>

                            </div>
                            <!-- Table -->
                            <div class="flex flex-col flex-auto mx-6 overflow-x-auto">
                                <table class="w-full bg-transparent overflow-y-visible" mat-table
                                    [dataSource]="this.products()" [trackBy]="trackByFn" matSort>

                                    <ng-container matColumnDef="select">
                                        <th class="pmt-header" mat-header-cell *matHeaderCellDef>
                                            @if(products().length){
                                            <mat-checkbox #selectAll (change)="masterToggle($event)"></mat-checkbox>
                                            }
                                        </th>
                                        <td mat-cell *matCellDef="let assessment">
                                            <span class="pr-2 whitespace-nowrap">
                                                <mat-checkbox (click)="selectRow($event)"
                                                    (change)="$event? selection.toggle(assessment): null"
                                                    [checked]="selection.isSelected(assessment)">
                                                </mat-checkbox>
                                            </span>
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="title">
                                        <th class="px-2 mt-header" mat-header-cell mat-sort-header *matHeaderCellDef>
                                            Product
                                        </th>
                                        <td class="px-2" mat-cell *matCellDef="let product">
                                            <span class="pr-6 whitespace-nowrap">
                                                {{product.name}}
                                            </span>
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="brand">
                                        <th class="px-2 mt-header" mat-header-cell mat-sort-header *matHeaderCellDef>
                                            Brand
                                        </th>
                                        <td class="px-2" mat-cell *matCellDef="let product">
                                            <span class="pr-6 whitespace-nowrap">
                                                {{product.brandId | brandnamepipe}}
                                            </span>
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="createdAt">
                                        <th class="px-2 mt-header" mat-header-cell mat-sort-header *matHeaderCellDef>
                                            Created On
                                        </th>
                                        <td class="px-2" mat-cell *matCellDef="let product">
                                            <span class="pr-6 whitespace-nowrap">
                                                {{ product.createdAt | date:'MMM dd, y @ h:mm a' }}
                                            </span>
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="action">
                                        <th class="mt-header" mat-header-cell *matHeaderCellDef>
                                            Action
                                        </th>
                                        <td class="pr-2" mat-cell *matCellDef="let product">
                                            <div class="flex mt-2">
                                                <span class="font-medium mr-2 whitespace-nowrap">
                                                    <a [routerLinkActive]="'active'"
                                                        [routerLink]="['/products/' + product.id ]">
                                                        <button [matTooltip]="'Edit User'">
                                                            <mat-icon [svgIcon]="'heroicons_outline:pencil'"
                                                                color="primary"></mat-icon>
                                                        </button>
                                                    </a>
                                                </span>

                                                <span class="font-medium ml-1 whitespace-nowrap">
                                                    <button (click)="remove(product)" [matTooltip]="'Remove Tenant'">
                                                        <mat-icon class="icon-size-7"
                                                            [svgIcon]="'heroicons_solid:trash'" color="warn"></mat-icon>
                                                    </button>
                                                </span>
                                            </div>
                                        </td>
                                    </ng-container>
                                    <ng-container>
                                        <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
                                        <tr class="order-row h-16" mat-row *matRowDef="let row; columns: tableColumns;">
                                        </tr>
                                    </ng-container>
                                </table>
                                <mat-paginator #paginator [pageSize]="itemsPerPage"
                                    [pageSizeOptions]="[20, 50, 80, 100]"></mat-paginator>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- }@else {
            <div
                class="flex flex-grow flex-col items-center justify-center bg-gray-100 dark:bg-transparent w-full h-full">
                <mat-icon class="icon-size-24" [svgIcon]="'heroicons_outline:document-magnifying-glass'"></mat-icon>
                <div class="mt-6 text-2xl font-semibold tracking-tight text-secondary">
                    No Tenants found!
                </div>
            </div>
            } -->

        </mat-drawer-content>
    </mat-drawer-container>
</div>